<div class="page-header">
  <h1>Crew</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in crew">
      <td>{{person.name}}</td>
      <td>{{person.description}}</td>
      <td>
        <a href="#/edit/{{person.id}}" class="btn btn-mini">Edit</a>
        <a ng-click="destroy(person.id)" class="btn btn-danger btn-mini">Destroy</a>
      </td>
    </tr>
  </tbody>
</table>
<a href="#/new" class="btn btn-primary">New</a>
